<!-- forgot password component  -->
<div class="main">
	<div class="row">
		<h1>Forgot Password</h1>
		<h6 class="information-text">Enter your registered email to reset your password.</h6>
		<div class="form-group">
			<input type="email" placeholder="Enter your email here" name="user_email" id="user_email"
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required #email="ngModel"
				[(ngModel)]="forgotobj.email">
			<span *ngIf="email.invalid && email.touched" style="color: red; padding-left: 59px;">*Please enter a valid
				Input</span>
			<button (click)="onForgot()">Reset Password</button>
		</div>
		<div class="footer">
			<h5><a routerLink="/auth">Back to SignIn</a></h5>
		</div>
	</div>
</div>