<!-- this component is for 404(page not found)  -->
<div class="containder">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <img
        src="./../../assets/images/404pn.png"
        style="margin-left: 19%; margin-top: 10%"
        alt="404 image"
      />
    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>Page Not Found</h2>
        <div class="error-details">
          Sorry, an error has occured, Requested Page Not Found
        </div>
        <div class="error-action">
          <a href="/home" class="btn btn-lg" style="background-color: #36ade7"
            >Take Me Home</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
