<app-header></app-header>
<!-- ======= Hero Section ======= -->
<section id="home" class="hero d-flex align-items-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">What Is Eco-Card?</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">
          ECards are the digitalized version of a physical or handheld card
          meant to notify the receiver of a special occasion or act as a
          greeting celebrated by the recipient. It is an efficient and creative
          way to disseminate information through email and to multiple people.
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="#about"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/img11.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main>
  <!-- ======= About Section ======= -->

  <!-- ======= Values Section ======= -->
  <section class="values">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <p id="steps">Our Project</p>
        <br />
        <h2>There are some gudience for creating cards</h2>
      </header>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="assets/img/crud1.png" class="img-fluid" alt="" />
            <h3>Create Card</h3>
            <p>
              Here is an information how to crate a card. Go to the cards
              option.. Select the Template which you want .
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="assets/img/crud2.png" class="img-fluid" alt="" />
            <h3>Design Card</h3>
            <p>
              You can learn how to design cards. After selecting template. Fill
              the form of your details. Check the preview of your card and save
              it.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="assets/img/crud3.png" class="img-fluid" alt="" />
            <h3>Share Card</h3>
            <p>
              Learn about how to share your customized cards to other in just
              some steps. Click on the share button and select the option. And
              share it through Qr-code, Links, and Geo-Fencing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Values Section -->

  <section id="why" class="about">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row gx-0">
        <div class="col-lg-6 col-sm-12 col-md-12 col-12 d-flex align-items-center" data-aos="zoom-out"
          data-aos-delay="200">
          <img src="assets/img/image123.png" class="img img-fluid" alt="" />
        </div>

        <div class="col-lg-6 col-sm-12 col-md-12 col-12 d-flex flex-column justify-content-center" data-aos="fade-up"
          data-aos-delay="200">
          <div class="content">
            <h3>Important!</h3>
            <h2>Why to use Eco-Card?</h2>
            <p>
              Instead of a printed card, share a digital business card with your
              contact. Some digital cards, when shared on a smartphone, will
              automatically add you as an entry to their address book. This way,
              you are guaranteed that your contact will always have your details
              with them, instead of gathering dust in their office desk drawer.
            </p>
            <div class="text-center text-lg-start">
              <a href="#"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
</main>
<!-- End #main -->
<app-footer></app-footer>