<!-- Reset password confromPassword  -->
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form #resetForm="ngForm">
        <h3>Reset Password</h3>
        <label for="password">Password</label>
        <input type="password" minlength="8" placeholder="Enter your password" required #password="ngModel" id="pass"
            [(ngModel)]="resetobj.password" name="Password">
        <span *ngIf="password.invalid && password.touched" style="color: red; padding-left: 110px;">*Please enter a
            valid Input</span>

        <label for="password">confirm Password</label>
        <input type="password" minlength="8" placeholder="Enter Same Password" required #pass="ngModel" id="pasword"
            [(ngModel)]="resetobj.confromPassword" name="confromPassword">
        <span *ngIf="pass.invalid && pass.touched" style="color: red; padding-left: 110px;">*Please enter a valid
            Input</span>


        <button (click)="onReset()" [disabled]="resetForm.invalid" style="color: black;">Submit</button>

    </form>
</body>