<!-- Geo Fence component -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold mt-5" style="color:#012970; font-weight: bold;">Share Your Card</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h4 class="text-center" style="color:#012970; font-weight: bold;">Share your virtual business card using Geo Fencing. <br>
                Anyone can receive your digital card</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <a (click)="openDialog()"><i class="fa-solid fa-circle-arrow-up fa-beat-fade fa-10x arrow"></i></a><br>
            <h1 class="geo-text">Sender</h1>
        </div>
        <div class="col-md-3">
            <a routerLink="/dashboard/receivedcard"><i class="fa-solid fa-circle-arrow-down fa-beat-fade fa-10x arrow"></i></a>
            <h1 class="geo-text">Reciver</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>