<app-header></app-header>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 >Create Your</h1>
          <h2 data-aos="fade-up">Digital Business Card</h2>
          <h2 data-aos="fade-up" data-aos-delay="400">This Web App is providing you an Electronic Business Card. Which can be shared virtually between two users
            and their is no need of physical appearence for sharing it to any users from any where. </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/sshort1.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    
    <!-- ======= Values Section ======= -->
    <section id="service" class="values">

      <div class="container-fluid" data-aos="fade-up">

        <header class="section-header">
          <p>Our Services</p>
          <br>
          
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="./assets/img/createcard.png" class="img-fluid" alt="">
              <h3>Create Card</h3>
              <h4>Your online presence</h4>
              <p> 
                Easily launch your digital business card on custom domain and showcase your business to the world.Create Now!
              </p>
             
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="assets/img/sharecard.png" class="img-fluid" alt="">
              <h3>Share Card</h3>
              <h4>Share your card with the world</h4>
              <p> Share your digital business card through various channels such as QR code, Link ,social media, Geo
                Fencing.0% paper, 100% sustainable.
              </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="assets/img/searchcard.jpeg" class="img-fluid" alt="">
              <h3>Search Card</h3>
              <h4>Find Other Businesses</h4>
              <p> Search Other Business Cards using card title and category, connect with other business is more easiyer.
              </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <section id="about" class="about">
      <div class="container-fluid">
        <div class="row" >
          <div class="col-lg-6 col-sm-12 col-md-12 col-12">
            <img src="assets/img/card12.webp" class="img img-fluid  mx-auto d-block" alt="" height="400px" width="400px">
          </div>
          <div class="col-lg-6 col-sm-12 col-md-12 col-12">
            <div class="content">
              <h1>About Us</h1>
              <h2>You can get more about us</h2>
              <p>
                We had built a Web application for every business holders, who can create theie their business cards and can share it easily through QR-code, links, Geo-Fencing, etc. 
                                      They can also find by searching any of the business cards by filtering it and can save it.
                 
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section id="about" class="about">

      <div class="container-fluid" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 col-md-12 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="assets/img/card12.webp" class="img" alt="" height="400px" width="400px" style="margin-left: 160px;">
          </div>

          <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h1>About Us</h1>
              <h2>You can get more about us</h2>
              <p>
                We had built a Web application for every business holders, who can create theie their business cards and can share it easily through QR-code, links, Geo-Fencing, etc. 
                                      They can also find by searching any of the business cards by filtering it and can save it.
                 
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

        
        </div>
      </div>

    </section> -->
    <!-- End About Section -->


    <!-- three Sharing Ways -->
<section class="skills container-fluid" id="skills">
  <div class="row">
    <div class="col-md-12">
      <p class="skill-header">Sharing Cards </p>
      <h2>You can share cards through such ways</h2>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <div class="skills-wrapper">
        <div class="first-set animate__animated animate__pulse">
        <img src="./../../assets/images/qr-code.gif" alt="" loading="lazy" class="icon icon-card" />
        <img src="./../../assets/images/copylink.gif" alt="" loading="lazy" class="icon icon-card" />
        <img src="./../../assets/images/geofence.gif" alt="" loading="lazy" class="icon icon-card" />
        </div>

        <!-- <div class="second-set animate__animated animate__pulse">
          <img src="./../../assets/image/icons8-bootstrap.svg" alt="" loading="lazy" class="icon icon-card" />
          <img src="./../../assets/image/icons8-react-native.svg" alt="" loading="lazy" class="icon icon-card" />
          <img src="./../../assets/image/icons8-git.svg" alt="" loading="lazy" class="icon icon-card" />
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- skills ends  -->


   
    
   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Contact</h2> -->
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-12">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Floor-7, Safal Profieter<br>100ft coporate road, prahaldnagar, Ahemdabad</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 9632178540<br>+91 9871365012</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>admmin@volansys.com<br>hr@volansys.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>
<!-- 
          <div class="col-lg-6">
            <form action="/forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div> -->

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <app-footer></app-footer>
